<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:include="layout :: htmlhead" th:with="title='管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">
        <form id="searchForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">学生姓名</label>
                <div class="layui-input-inline">
                    <select name="studentId" lay-search>
                        <option th:each="item:${students}" th:text="${item.text}" th:value="${item.value}"></option>
                    </select>
                </div>

                <label class="layui-form-label">课程名称</label>
                <div class="layui-input-inline">
                    <select name="classId" lay-search>
                        <option th:each="item:${classes}" th:text="${item.text}" th:value="${item.value}"></option>
                    </select>
                </div>

                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn" lay-submit="" lay-filter="searchSubmit">查询</button>
                <button class="layui-btn layui-btn-normal" type="button" onclick="add()">新增</button>
            </div>
        </form>

        <table id="tableList" lay-filter="tableList" class="layui-table layui-table-hover"></table>

        <script type="text/html" id="optBar">
            {{# if(d.attended==false){}}
            <a class="layui-btn layui-btn-sm" lay-event="mark">签到</a>
            <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">删除</a>
            {{# } }}
        </script>

    </div>

    <!--添加或编辑-->
    <div id="editDetail" class="layer_self_wrap" style="display: none">
        <form id="editForm" lay-filter="editForm" class="layui-form layui-form-pane" method="post" action=""
              style="margin-top: 20px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="logId" type="hidden" name="logId"/>
            <input id="attended" type="hidden" name="attended"/>
            <input id="dateUpdate" type="hidden" name="dateUpdate"/>
            <div class="layui-form-item">
                <label class="layui-form-label">学生姓名</label>
                <div class="layui-input-block">
                    <select name="studentId" lay-search>
                        <option th:each="item:${students}" th:text="${item.text}" th:value="${item.value}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">课程名称</label>
                <div class="layui-input-block">
                    <select name="classId" lay-search>
                        <option th:each="item:${classes}" th:text="${item.text}" th:value="${item.value}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">日期</label>
                <div class="layui-input-block">
                    <input name="dateCreate" id="dateCreate" lay-verify="required" autocomplete="off"
                           class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="toolBtn">
                    <button class="layui-btn" lay-submit="" lay-filter="editSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>


    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script th:src="@{'/js/biz/k12/k12Log.js'}" th:inline="javascript"></script>
    <div layout:fragment="pageJavascript" th:unless="${errorMessage}">
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <!-- nth-tabs-->
        <script th:inline="javascript">
            let classes = [];
            classes = [[${classes}]];
            const classMap = fun.listToMap(classes, "value", "text");
            let students = [];
            students = [[${students}]];
            const studentMap = fun.listToMap(students, "value", "text");

            const attendedMap = {
                "true": "已签到",
                "false": "已报名",
            }
        </script>
    </div>
</div>
</body>
</html>