<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='用户管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <form id="dictSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">字典名</label>
                <div class="layui-input-inline">
                    <input name="typeName" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <div class="layui-inline">
                    <button type="reset" class="layui-btn layui-btn-primary" lay-filter="dictReset">重置</button>
                    <button class="layui-btn "  lay-submit="" lay-filter="searchSubmit">查询</button>
                    <button class="layui-btn layui-btn-normal" onclick="addDict()" type="button">新增字典</button>
                </div>
            </div>
        </form>

        <!--<hr class="layui-bg-blue"/>-->
        <hr class="layui-bg-black"/>

        <div style="display:none;" id="currentDict"><shiro:principal property="userId"></shiro:principal></div>

        <table id="dictTypeList" lay-filter="dictTypeList"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
        </script>
    </div>


    <!--添加或编辑用户-->
    <div id="setDict" class="layer_self_wrap" style="display:none;">
        <form id="dictForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="typeId" type="hidden" name="typeId"/>
            <div class="layui-form-item">
                <label class="layui-form-label">字典名</label>
                <div class="layui-input-block">
                    <input id="typeName" name="typeName" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <input id="note" name="note" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="toolBtn" >
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <button class="layui-btn"  lay-submit="" lay-filter="dictSubmit">提交</button>
                </div>
            </div>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/common/dateUtils.js"></script>
    <script src="/js/biz/dict/dictType.js"></script>
    <div layout:fragment="pageJavascript" th:unless="${errorMessage}">
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <!-- nth-tabs-->
        <script th:inline="javascript">
            var roleList = [];
                roleList = [[${roleList}]];
                console.log(roleList);
        </script>
        </div>
</div>
</body>
</html>