<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:include="layout :: htmlhead" th:with="title='管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">
        <form id="searchForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">上级菜单</label>
                <div class="layui-input-inline">
                    <select name="pid" id="pidSearch">
                        <option th:each="item:${sourceList}" th:text="${item.sourceName}" th:value="${item.sourceId}"></option>
                    </select>
                </div>
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-inline">
                    <input name="sourceName" id="sourceNameSearch" autocomplete="off" class="layui-input"
                           type="text"/>
                </div>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn" lay-submit="" lay-filter="searchSubmit">查询</button>
                <button class="layui-btn layui-btn-normal" type="button" onclick="add()">新增</button>
            </div>
        </form>

        <table id="sourceList" lay-filter="sourceTable" class="layui-table layui-table-hover"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
        </script>

    </div>

    <!--添加或编辑-->
    <div id="setSource" class="layer_self_wrap" style="display: none">
        <form id="sourceForm" lay-filter="sourceForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="sourceId" type="hidden" name="sourceId"/>
            <div class="layui-form-item">
                <label class="layui-form-label">上级菜单</label>
                <div class="layui-input-block">
                    <select name="pid" id="pid" lay-verify="required">
                        <option th:each="item:${sourceList}" th:text="${item.sourceName}" th:value="${item.sourceId}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">顺序</label>
                <div class="layui-input-block">
                    <input id="lineIndex" name="lineIndex" lay-verify="required" autocomplete="off" class="layui-input"
                           type="number"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-block">
                    <input id="sourceName" name="sourceName" lay-verify="required" autocomplete="off" class="layui-input"
                           type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单url</label>
                <div class="layui-input-block">
                    <input id="url" name="url" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="toolBtn" >
                    <button class="layui-btn" lay-submit="" lay-filter="sourceSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>


    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/sys/sourceManage.js"></script>
    <div layout:fragment="pageJavascript" th:unless="${errorMessage}">
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <!-- nth-tabs-->
        <script th:inline="javascript">
            let sourceList = [];
            sourceList = [[${sourceList}]];
            var sourceMap = {};
            sourceList.forEach(function (item) {
                sourceMap[item.sourceId] = item.sourceName;
            });
        </script>
    </div>
</div>
</body>
</html>